/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
/*	display: block;*/
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box
}

b {
	font-weight: bold;
}

p {
	line-height: 1.3;
}
	
a {
	color: #39bcff;
	font-family: "Karla", "Arial", sans-serif;
/*	padding-bottom: 10px;*/
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #2d9bd3;
}


h1 {	

	}
	
	
h2 {
	color: #39bcff;
	font-family: "Fredoka One", "Arial", sans-serif;
	font-size: 2em;
	padding-bottom: 10px;
	}
	
h3 {
	color: #39bcff;
	font-family: "Fredoka One", "Arial", sans-serif;
	}
	
h4 {
	color: #39bcff;
	font-family: "Fredoka One", "Arial", sans-serif;
	padding-bottom: 10px;

	}
	
#footer h6 {
	line-height: 140%;
}
	
h6 {
	font-family: "Karla", "Arial", sans-serif;
	font-size: 0.7em;
}
	
p {
	font-family: "Karla", "Arial", sans-serif;
	font-size: 14px;
}

body {
	background-image: url("../assets/bg-tile.jpg");
	margin: 0;
	padding: 0;
}

#footertxt p {
	color: #666;
	margin-top: 30px;
}

/*flex*/

.flex-container {
	display: flex; /* or inline-flex */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}


.entry {
	min-width: 280px;  /* Or whatever */
  	height: 280px; /* Or whatever */
  	margin: auto;  /* Magic! */
  	text-align: center;
  	flex-basis: 400px;
}

@media (max-width: 1331px) and (min-width: 940px) {
	.entry {
		flex-basis: 32%;
	}
}

@media (max-width: 939px) and (min-width: 640px) {
	.entry {
		flex-basis: 50%;
	}
}

@media (max-width: 639px) {
	.entry {
		flex-basis: 90%;
	}
}

.thumb {
	width: 95%;
	height: 200px;
	background-color: #AAA;
	margin: 0 auto;
	border: 5px solid #e1edf2;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thumb:hover {
	border: 5px solid #39bcff;
	cursor: pointer;
}

.entry-title {
	color: #39bcff;
    font-family: "Fredoka One", "Arial", sans-serif;
    margin: 5px 0;
    font-size: 18px;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.entry-subtitle {
	font-family: "Karla", "Arial", sans-serif;
    font-size: 14px;
    color: #666;
}

/*THUMBNAILS*/
#thumb-businesscard {
	background-image: url("../assets/thumbs/thumb-businesscard.jpg");
	background-size: cover;
}

#thumb-geminids {
	background-image: url("../assets/thumbs/thumb-geminids.jpg");
	background-size: cover;
}

#thumb-mtvid {
	background-image: url("../assets/thumbs/thumb-mtvid.jpg");
	background-size: cover;
}

#thumb-rvsa {
	background-image: url("../assets/thumbs/thumb-rvsa.jpg");
	background-size: cover;
}

#thumb-hanginggardens {
	background-image: url("../assets/thumbs/thumb-hanginggardens.jpg");
	background-size: cover;
}

#thumb-doodlettesara {
	background-image: url("../assets/thumbs/thumb-doodlettesara.jpg");
	background-size: cover;
}

#thumb-roundriceball {
	background-image: url("../assets/thumbs/thumb-roundriceball.jpg");
	background-size: cover;
}

#thumb-photo-x-typography {
	background-image: url("../assets/thumbs/thumb-photo-x-typography.jpg");
	background-size: cover;
}

#header {
	max-width: 331px;
	height: 280px;
	margin: 0 auto;
	width: 90%;
	background-image: url("../assets/header.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;

}

#pagewrap {
	width: 100%;
	height: 100%;
}
	
#container {
	padding: 0 5%;
	width: 100%;
	margin: 0px auto;
	margin-bottom: 80px;
}

#gallerydivider {
height: 250px;
width: 100%;
display: block;
}

#portfolio {
	margin-top: 50px;
}

#portfolio img {
border: 5px solid #e1edf2;
}

#portfolio img:hover {
border: 5px solid #c7dee7;
}

#portfolioindividual {
	margin-top: 50px;
}

#portfolioindividual img {
border: 5px solid #e1edf2;
}

#divider {
display: block;
height: 1px;
min-width: 250px;
width: 50%;
background-color: #e7e7e7;
margin: 0 auto;
margin-bottom: 100px;
}

#dividerportfoliobottom {
	width: 100%;
	text-align: center;
}

#dividerportfolio {
	width: 90%;
	max-width: 300px;
	background-color: #e7e7e7;
	height: 1px;
	margin: 0 auto;
	margin-bottom: 100px;
}

#footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: none;
	padding-bottom:100px;
	position: relative;
	background-color: none;
}

#bgright {
	float: right;
	width: 100%;
	height: 800px;
	background-image: url("../assets/bg-right.png");
	background-repeat: no-repeat;
    background-position: right top;
    background-size: 400px;
	position: absolute;
	z-index: -1;
}

@media (max-width: 810px) and (min-width: 645px) {
	#bgright {
		background-size: 300px;
	}
}

@media (max-width: 644px) and (min-width: 472px) {
	#bgright {
		background-size: 200px;
	}
}

@media (max-width: 471px) {
	#bgright {
		background-size: 200px;
		background-position: 138% 0;
	}
}


	
#portfoliocanvas {
text-align: center;
}

#portfoliodescription {
	width: 610px;
	margin: 0 auto;
	padding-bottom: 50px;
    color: #333;
}

.btn-index {
	width: 250px;
	border-radius: 30px;
	padding: 20px 15px;
	border: 2px solid #2d9bd3;
	/*background-color: #2d9bd3;*/
	color: #2d9bd3;
	font-size: 15px;
	font-weight: 600;
	margin: 0 auto;
	margin-bottom: 80px;
	font-family: "Karla", "Arial", sans-serif;
	text-align: center;
	display: inline-block;

	-webkit-transition: all 180ms ease;
    -moz-transition: all 180ms ease;
    -o-transition: all 180ms ease;
    transition: all 180ms ease;
}

.btn-index:hover {
	background-color: #2d9bd3;
	color: #FFF;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed,
.responsive-video p {
position: relative;
width: 600px;
height: 481px;
}


@media (max-width: 684px) {
	#portfoliocanvas img {
		width: 90%;
		height: auto;
		max-width: 600px;
	}
	#portfoliodescription {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 50px;
	}
}
